@charset "utf-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: arial, helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}
h1#principal {
    text-align: center;
    background-color: rgb(217, 223, 217);
}

h2 {
    color: rgb(45, 0, 109);
}

.basico {
    color: rgb(45, 0, 109);
}

.intermediario {
    color: rgb(240, 227, 44);
}

.avançado {
    color: rgb(246, 6, 6);
}

.destaque {
    background-color: rgb(162, 246, 77);
}